{% extends 'base/master.html'%}

{% block title %}Registracia{% endblock %}

{% block content %}
<div class="main-box">
    <h2>Registracia</h2>
    <form action="/users/register" method="post">
        <p>
            <label for="login">Login:</label><br>
            <input type="text" id="login" name="login" class="inp" required>
        </p>
        <p>
            <label for="pass1">Password:</label><br>
            <input type="password" id="pass1" name="pass1" class="inp" required>
        </p>
        <p>
            <label for="pass2">Podtverzhdenie:</label><br>
            <input type="password" id="pass2" name="pass2" class="inp" required>
        </p>
        <p>
            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email" class="inp" required>
        </p>
        <p style="text-align: center; margin-top: 25px">
            <input type="submit" value="Otpravit" class="btn btn-success my-btn">
            <input type="reset" value="Ochistit" class="btn btn-danger my-btn">
        </p>
    </form>
</div>
<style>
    form{
        border: 1px solid silver;
        width: 400px;
        margin: 20px auto;
        border-radius: 15px;
        padding: 15px 30px;
        background-color: whitesmoke;
        color: gray;
        text-align: left;
    }
    .inp{
        width: 99%;
        padding: 5px;

    }
    .btn {
        width: 120px;
        padding: 3px;
        border-radius: 5px;
    }
</style>
{% endblock %}